<ion-header>
  <ion-toolbar>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
      <ion-item *ngFor="let order of orders">
           <ion-card>
              <ion-item><h6 style="font-weight: bold; margin-right: 0.2rem;">Order ID:</h6> {{ order._id }}</ion-item>
              <ion-item><h6 style="font-weight: bold; margin-right: 0.2rem;">User ID:</h6> <span style="margin-top: 0.5rem;">{{ order.userID}}</span></ion-item>
              <ion-item><h6 style="font-weight: bold; margin-right: 0.2rem;">User Address:</h6> <span style="margin-top: 0.5rem;">{{ order.userAddress}}</span></ion-item>
              <ion-item><h6 style="font-weight: bold; margin-right: 0.2rem;">User Contact No:</h6> <span style="margin-top: 0.5rem;">{{ order.userPhone}}</span></ion-item>
              <ion-item><h6 style="font-weight: bold; margin-right: 0.2rem;">Product Quantity:</h6> <span style="margin-top: 0.5rem;">{{ order.totalAddedQuantity}}</span></ion-item>
              <ion-item><h6 style="font-weight: bold; margin-right: 0.2rem;">Total Payment: </h6> <span style="margin-top: 0.5rem;">{{order.grandTotal  }}</span></ion-item>
              <ion-item><h6 style="font-weight: bold; margin-right: 0.2rem;">Order Status: </h6> <span style="margin-top: 0.5rem; color:red;">{{ order.status }}</span></ion-item>
           </ion-card>
      </ion-item>
  </ion-list>


</ion-content>
