<ion-header no-padding>
  <div class="header-section">
    <ion-toolbar>
      <ion-title>
        <h5>{{ title }}</h5>
      </ion-title>
      <!-- <ion-button class="menu-btn" slot="start"> -->
        <ion-menu-button color = "light" slot = "start" menu="main-menu"></ion-menu-button>
          <ion-icon *ngIf = "!currentUser.hasOwnProperty('img')" style="font-size: 42px;" name = "person-circle" slot = "end"></ion-icon>
          <ion-avatar slot = "end" *ngIf = "currentUser.hasOwnProperty('img')">
            <img [src]="currentUser.img"/>
          </ion-avatar>
      <!-- </ion-button> -->
    </ion-toolbar>
  </div>
</ion-header>

