<app-header title = "Sign Up"></app-header>
<app-back-button></app-back-button>

<ion-content>

    <div class="container">
        <div class="login-section ion-padding">
            <div class="heading ion-padding">
                <h1>Welcome</h1>
                <p>Sign UP to Continue</p>
            </div>
    
            <form [formGroup]="signForm" class="login-form ion-padding" (ngSubmit)="signUp()">
                <div class="form-field">
                    <label [ngClass]="focused[0] ? 'label-focused' : '' " for="">
                        name
                    </label>
                    <input formControlName="sname" type="text" (focus)="focused[0] = true"
                        (blur)="onFocused($event,0)">
                </div>
                <p class="warning" *ngIf = "getForm.sname.value === '' && getForm.sname.touched">Name is required</p>
                
                <div class="form-field">
                    <label [ngClass]="focused[1] ? 'label-focused' : '' " for="">
                        Email
                    </label>
                    <input formControlName="semail" type="email" (focus)="focused[1] = true"
                        (blur)="onFocused($event,1)">
                </div>

                <p class="warning" *ngIf = "getForm.semail.value === '' && getForm.semail.touched" >Email is required</p>
                <p class="warning" *ngIf = "!getForm.semail.valid && getForm.semail.value !=='' " >Email is invalid</p>

                <div class="form-field">
                    <label [ngClass]="focused[2] ? 'label-focused' : '' " for="">
                        Password
                    </label>
                    <input formControlName="spassword" type="password" (focus)="focused[2] = true"
                        (blur)="onFocused($event,2)">
                </div>
                <div class="form-field">          
                        <label [ngClass]="focused[3] ? 'label-focused' : '' " for="">
                            Verify Password
                        </label>
                        <input formControlName="svpassword" type="password" (focus)="focused[3] = true"
                            (blur)="onFocused($event,3)">
                 
                        </div>
                        <p class="warning" *ngIf = "getForm.spassword.value !== getForm.svpassword.value && getForm.svpassword.touched && getForm.svpassword.value !== '' ">
                            Password doesn't match
                        </p>
                <div style="display: flex; flex-direction:column;">
                    <ion-label>Choose Your Profile Picture</ion-label>
                    <ion-input type="file" (change)="getSelected($event)"></ion-input>
                </div>
                <div class="action-button ion-padding">
                    <ion-button [disabled] = "!signForm.valid" type="submit" size="large" class="login-button">Sign Up</ion-button>
                    <ion-button class="signup-button" size="large" fill="outline" routerLink="/login">Login</ion-button>
                </div>
            </form>
        </div>
        <img [src]="downloadURL | async" alt="">
    </div>
</ion-content>