*{
    margin: 0;
    padding: 0;
}
ion-content{
    --overflow: hidden;
}
.scroll-y{
    overflow-y: hidden;
}
h1{
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 700;
}
h3{
    color: #939fab;
    font-weight: 600;
}

// ion-content{
//     --background: linear-gradient(0deg,rgba(226,27,212,0.7),rgba(226,27,212,0.1));
// }
.login-section{
    overflow: hidden;
    // height: 85vh;
    // width: 100%;
    background: #fff;
    // right: 0;
    // left: 0;
    // bottom: 0;
    // position: fixed;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    animation: bottom-to-top 3s;
}

form{
    margin-top: 2rem;
}

.action-button{
    text-align: center;
    .login-button{
        width: 100%;
        text-align: center;
        margin: 1.5rem 0;
        --border-radius: 50px;
    }
    p{
        color: #7b7b7b;
    }
    .signup-button{
        width: 100%;
        --border-radius: 50px;
    }
}
.form-field{
    position: relative;
    margin-bottom: 1rem;
    height: 50px;
    label{
        position: absolute;
        left: 1rem;
        top: 1rem;
        padding: 0 0.25rem;
        color: #939fab;
        font-size: 1rem;
        // width: 80px;
        background-color: white;
        transition: 0.3s;
    }
    input{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        font-size: 17px;
        font-weight: 600;
        border: 2px solid #e7ebee;
        border-radius: 50px;
        outline: none;
        padding: 1rem;
        background: none;
        z-index: 1;
        color: #171c25
    }
    input:focus{
        border-color: #171c25;
        background: none;
    }
    .label-focused{
        top: -0.4rem;
        left: 0.8rem;
        font-weight: 600;
        font-size: 14px;
        z-index: 10;
    }
    
}


@keyframes bottom-to-top {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}