<ion-header>
  <div class="header-section">
    <ion-toolbar>
      <ion-button class="menu-btn" slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-button>
      <ion-item class="search-item" style="width: 65%; margin-left: 1rem;">
        <ion-input #search type="text" ></ion-input>
        <ion-icon slot="end" name="search"></ion-icon>
      </ion-item>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>

  
  <form (ngSubmit)=" onCheckout()" #logForm = "ngForm">
    <ion-item lines="full">
            <ion-label position="floating">Card Name: </ion-label>
            <ion-input type="text"  name="card-name"  #cname  required></ion-input>
            
    </ion-item>


    <ion-item lines="full">
          <ion-label position="floating">Card Number:</ion-label>
          <ion-input type="number"  name="card-number"  #cnum required></ion-input>
          

    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button  (click)="confirmAlert()" type="submit" color="danger" expand="block">Checkout</ion-button>
      </ion-col>
    </ion-row>
  </form>


</ion-content>

<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button color="primary">
    <span style="color:aliceblue;margin-top: -10px"> {{ totalAddedQuantity }} </span>
    <ion-icon name="cart">
    </ion-icon>
  </ion-fab-button>
</ion-fab>
