<ion-menu menuId="main-menu" content-id="main">
  <ion-content>
    <div class="menu-header-bg">
      <div>
        <ion-icon name="person-circle-outline"></ion-icon>
      <ion-title *ngIf="currentUser.hasOwnProperty('email')">
        {{ currentUser.name }}
      </ion-title>
      </div>
    </div>
    <ion-list>
      <ion-item>
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label [routerLink]="['/home']">Home</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>Outbox</ion-label>
      </ion-item>
      <ion-item *ngIf="!currentUser.hasOwnProperty('email')">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        <ion-label [routerLink]="['/login']">Login</ion-label>
      </ion-item>
      <ion-item *ngIf="currentUser.hasOwnProperty('email')">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label (click)="logout()">Log Out</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- <ion-menu menuId="main-menu" content-id="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label [routerLink] = "['/home']">Home</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>Outbox</ion-label>
      </ion-item>
      <ion-item *ngIf = "!currentUser.hasOwnProperty('email')">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        <ion-label [routerLink] = "['/login']">Login</ion-label>
      </ion-item>
      <ion-item *ngIf = "currentUser.hasOwnProperty('email')">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label (click) = "logout()">Log Out</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->