
<ion-header>
  <div class="header-section">
    <ion-toolbar>
      <ion-button class="menu-btn" slot="start">
        <ion-menu-button menu="main-menu" ></ion-menu-button>
      </ion-button>
      <ion-item class="search-item" style="width: 85%;">
        <ion-input #search type="text" ></ion-input>
        <ion-icon slot="end" name="search"></ion-icon>
      </ion-item>  
      
        <ion-icon slot="end" name="cart" style="font-size: 2rem;"></ion-icon>
      
    </ion-toolbar>
  </div>
</ion-header>

<ion-item>
      <div style="width: 100%; height: 15rem;">
          <img   src="https://image.shutterstock.com/shutterstock/photos/1934081501/display_1500/stock-photo-weekend-super-sale-shopping-template-1934081501.jpg">
      </div>
</ion-item>

<ion-content>
      
        <ion-card *ngFor="let product of products; let i = index">
          <h3 *ngIf="i==0" style="margin-left: 8rem; font-weight: bolder;">Cloth</h3>
          <h3 *ngIf="i==3" style="margin-left: 8rem; font-weight: bolder;">Smartphone</h3>
          <h3 *ngIf="i==6" style="margin-left: 8rem; font-weight: bolder;">Watch</h3>
          <h3 *ngIf="i==9" style="margin-left: 8rem; font-weight: bolder;">Perfume</h3>
          <ion-grid >
            <ion-row >
              <ion-col >
                <img [src]="product.imageURL" (click)="viewDetails(product.name)">
                <ion-icon  name="cart" style="z-index: 1; margin-bottom: 0.5rem; font-size:2rem; color:green;">
                 
                </ion-icon>

                <ion-icon  name="heart" style="z-index: 1; margin-bottom: 0.5rem; font-size:2rem; color:red; margin-left: 16rem;">    
                </ion-icon>  
                
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
  

</ion-content>






