<ion-header>
  <div class="header-section">
    <ion-toolbar>
      <ion-button class="menu-btn" slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-button>
      <ion-item class="search-item" style="width: 65%; margin-left: 1rem;">
        <ion-input #search type="text" ></ion-input>
        <ion-icon slot="end" name="search" (click)="onSearch(search.value)"></ion-icon>
      </ion-item>
    </ion-toolbar>
  </div>
</ion-header>


<ion-item style="height: 25%;">
  <ion-slides [options] = "slideOptions">
    <ion-slide *ngFor="let slider of sliders">
      <img style="width: 100%;" [src]="slider.imageURL" />
    </ion-slide>
  </ion-slides>
</ion-item>


<h3 style="text-align: center; color:blueviolet; font-weight: bold; margin-top: 15px;" >Catagories</h3>
<ion-item style="margin-top: 2px; height: 25%;">
  <ion-slides [options] = "slideOptions">
    <ion-slide *ngFor="let catagory of catagories">
      <img style="width: 100%;" [src]="catagory.imageURL" (click)="onSearch( catagory.name  )" />
    </ion-slide>
  </ion-slides>
</ion-item>


<!-- Trending Product List -->
<h3 style="text-align: center; color:blueviolet; font-weight: bold;" >Trending </h3>
<ion-content>
  <ion-list>
    <ion-card *ngFor="let product of trendingProdducts">
      <ion-grid >
        <ion-row>
          <ion-col size="6">
            <ion-card-header>
              <ion-card-title>
                {{ product.name }}
              </ion-card-title>
              <ion-card-subtitle>
                Available Units: {{ product.stockAvailable }}
              </ion-card-subtitle>
              <ion-card-subtitle>
                ${{ product.unitPrice }}
              </ion-card-subtitle>
            </ion-card-header>
          </ion-col>
          <ion-col size="6">
            <img src={{product.imageURL}} alt="">
            <ion-fab-button color="primary">
              <ion-icon name="add" (click)="onAddToCart(product)"></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
<!-- all products list ends -->


<!-- cart icon and its work -->
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button color="primary">
    <span style="color:aliceblue;margin-top: -10px"> {{ totalAddedQuantity }} </span>
    <ion-icon name="cart" (click)="onCart()">
    </ion-icon>
  </ion-fab-button>
</ion-fab>
<!-- cart icon and its work end -->

