<ion-header>
  <div class="header-section">
    <ion-toolbar>
      <ion-button class="menu-btn" slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-button>
      <ion-item class="search-item">
        <ion-icon slot="end" name="search"></ion-icon>
        <ion-input #search type="text"></ion-input>
      </ion-item>
    </ion-toolbar>
  </div>
</ion-header>


<ion-item>
  <ion-slides [options] = "slideOptions">
    <ion-slide *ngFor="let slider of sliders">
      <img style="width: 100%;" [src]="slider.imageURL" />
    </ion-slide>
  </ion-slides>
</ion-item>




<!-- Trending Product List -->
<h3 style="text-align: center; color:blueviolet; font-weight: bold;" >Trending </h3>
<ion-content>
  <ion-list>
    <ion-card *ngFor="let product of trendingProdducts">
      <ion-grid >
        <ion-row>
          <ion-col size="6">
            <ion-card-header>
              <ion-card-title>
                {{ product.name }}
              </ion-card-title>
              <ion-card-subtitle>
                Available Units: {{ product.stockAvailable }}
              </ion-card-subtitle>
              <ion-card-subtitle>
                ${{ product.unitPrice }}
              </ion-card-subtitle>
            </ion-card-header>
          </ion-col>
          <ion-col size="6">
            <img src={{product.imageURL}} alt="">
            <ion-fab-button (click)="addToCart(product)" color="primary">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
<!-- all products list ends -->


<!-- cart icon and its work -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button id="open-modal" color="primary">
    <span *ngIf="cart.length > 0" style="color:aliceblue;margin-top: -10px"> {{ cart.length }} </span>
    <ion-icon name="cart">
    </ion-icon>
  </ion-fab-button>
</ion-fab>
<!-- cart icon and its work end -->

<!-- modal -->
<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title color="primary"> Your Cart </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item *ngFor="let order of cart">
        {{order.name}}
        <ion-button>
          <ion-icon name="remove"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>